<div class="add-quotes-form text-center">
  <h1>Add quotes</h1>
  <div class="form-group">
    <input type="text" class="form-control input-lg" placeholder=" quote" autofocus #quoteText>
    <input type="text" class="form-control input-lg" placeholder=" author" autofocus #quoteAuthor>
    <input type="text" class="form-control input-lg" placeholder=" tag" autofocus #quoteTag>
    <br>
    <button (click)="addQuote($event,quoteText,quoteAuthor,quoteTag)" class="btn btn-primary btn-block">Create</button>
  </div>
</div>
<div class="quote-list">
  <table>
    <thead>
    <tr>
      <th>ID</th>
      <th>Text</th>
      <th>Details</th>
      <th>Delete</th>
    </tr>
    </thead>
    <tr *ngFor="let quote of quotes">
      <td>{{quote._id}}</td>
      <td>{{quote.text}}</td>
      <td><input type="button" [routerLink]="['/quote-details', quote._id]" class="btn btn-default"
                 value="Details"></td>
      <td><input (click)="deleteQuote(quote)" type="button" class="btn btn-danger" value="Delete"></td>
    </tr>
  </table>
</div>


